# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Data
data/raw/*
data/processed/*
data/*.zip
data/*.tar.gz
!data/.gitkeep

# Models

!models/.gitkeep

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment
.env
.venv

# Training outputs
training_history/
checkpoints/

models/training_history.pkl
models/retina_heart_disease_model.weights.h5
models/retina_heart_disease_model.h5
